<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sishui.words.mapper.UserTagMapper">
  <!--  <select id="getAllUserTags" resultMap="userTagGroupMap">
        SELECT * FROM user_tag GROUP BY user_id;
    </select>
    <resultMap id="userTagGroupMap" type="java.util.List">
        <result property="UserTag" column="user_id" javaType="java.util.List"/>
    </resultMap>-->
</mapper>